:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width: 100%;
  max-width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: #2A2829;
  /*min-height: 100vh;*/
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  place-items: center;
  width: 100%;
}
.headerContainer{
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerItem{
  padding-left: 20px;
  padding-left: 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 20px;
}
.headerItem:hover{
  cursor: pointer;
}
.headerText{
  font-family: 'Bebas Neue', Courier, monospace;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  line-height: 40px;
  letter-spacing: 2.5px;
}
.headerUnderText{
  font-family: 'Courier Prime', Courier, monospace;
  font-size: 14.3px;
  margin: 0px;
  line-height: 15px;
  color: #8a8a8a;
}

.bodyContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  flex-direction: column;
  text-align: left;
}

a:link { 
  text-decoration: none; 
  transition: all 0.3s ease;
}
a:visited { 
  text-decoration: none; 
}
.left:hover {
  cursor: pointer;
  text-decoration: none;
  text-shadow: 
    -0.5px -0.5px 0 rgba(255, 255, 255, 0.87),
    0.5px -0.5px 0 rgba(255, 255, 255, 0.87),
    -0.5px 0.5px 0 rgba(255, 255, 255, 0.87),
    0.5px 0.5px 0 rgba(255, 255, 255, 0.87);
}
.right:hover {
  text-decoration: none;
  text-shadow: 
    -0.5px -0.5px 0 rgb(189, 142, 82),
    0.5px -0.5px 0 rgb(189, 142, 82),
    -0.5px 0.5px 0 rgba(189, 142, 82),
    0.5px 0.5px 0 rgba(189, 142, 82)
}
a:active { 
  text-decoration: none; 
}
.portItem .left {
  font-family: 'Courier Prime', Courier, monospace;
  color: rgb(233, 231, 224);
  font-weight: 700;
}
.portItem .right {
  color: rgb(189, 142, 82);
}
.portItem .top  {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tempMidContainer {
  font-family: 'Courier Prime', Courier, monospace;
  width: 400px;
  margin-top: 300px;
}
